body { background: #111; margin: 0; display: flex; justify-content: center; align-items: center; height: 100vh; }
#g2048 { display: grid; grid-template: repeat(4,60px)/repeat(4,60px); gap: 5px; }
.gcell { background:#222; border:2px solid #00E15C; font-size:1.5rem; color:#72F9A1; display:flex; align-items:center; justify-content:center; }
